@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --btn-dark-bg-color: #ba4270;
    --btn-light-bg-color: #bd6084;
    --light-san-juan-blue: #6c8294;
    --san-juan-blue: #36536b;
    --side--nav-bg-color: rgb(27, 38, 47);
    --top-section-bg-color: #EDF3F8;
    --dark-bg-color: #1B262F;
    --dark-white-color: rgb(223, 223, 223);
    --light-blue: #90acc2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--top-section-bg-color);
}

.bg-circle {
    position: absolute;
    right: -15%;
    bottom: 90%;
}

h1 {
    font-weight: normal;
    color: var(--san-juan-blue);
}

.top--title {
    font-size: 2rem;
    margin: 32px 0;
    padding: 0 10px;
    text-align: center;
}

.about--us__items {
    padding: 0 10px;
    text-align: center;
}

.about--us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;

}

.about--us__item h1 {
    width: 250px;
    font-weight: bold;
    margin: 16px 0;
}

.about--us__item p {
    flex: 1;
    color: var(--light-san-juan-blue);
    line-height: 1.5;
}

.about--us__img__bg--circle {
    display: none;
}

.about--us__img__main--img{
    width: 100%;
}

.about--us__numbers {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 32px 10px;
}

.about--us__numbers__item {
    flex: 1;
}

.about--us__numbers__item .hide {
    display: none;
}

.about--us__numbers__item:nth-child(2) {
    margin: 0 28px;
}

.about--us__numbers__item p {
    color: var(--light-san-juan-blue);
    margin: 16px 0;
}

.about--us__numbers__item h1 {
    font-size: 3rem;
    color: var(--btn-dark-bg-color);
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px){
    .top--title {
        padding: 0 100px;
    }

    .about--us__items {
        padding: 0 100px;
    }

    .about--us__numbers {
        padding: 32px 100px;
    }
}

@media only screen and (min-width: 992px) {
    .top--title {
        text-align: left;
        font-size: 3rem;
    }

    .line-break {
        display: block;
    }

    .about--us__items {
        text-align: left;
    }

    .about--us__item {
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
    }

    .about--us__img {
        position: relative;
    }

    .about--us__img__bg--circle {
        position: absolute;
        display: block;
        top: -30%;
        left: -30%;
        z-index: -1;
    }

    .about--us__numbers {
        flex-direction: row;
        text-align: left;
    }
    
    .about--us__numbers__item .hide {
        display: block;
    }
}